<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}?v=1"><body>

<div class="container">

    <h1>🎬 Movie Recommendation System</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Select Movie:</label><br>
        <select name="movie">
            {% for m in all_movies %}
                <option value="{{ m.id }}">{{ m.title }}</option>
            {% endfor %}
        </select>

        <br><br>

        <textarea name="review" rows="5" placeholder="Write your review..."></textarea>

        <br><br>
        <button type="submit">Submit</button>
    </form>

    <h3>Sentiment:</h3>
    <p>{{ result }}</p>

    <h3>Recommended Movies:</h3>

    <div class="movie-list">
        {% for movie in movies %}
            <div class="movie-card">
                <h4>{{ movie.title }}</h4>
                <p>⭐ {{ movie.avg_score|floatformat:2 }}</p>
            </div>
        {% endfor %}
    </div>

</div>

</body>
</html>